*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
}
.main .box{
    height: 70vh;
    width:100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    height: 70px;
}
nav img{
    width: 120px;
    position: relative;
    z-index: 1;
}
nav div button{
    width: 120px;
    position: relative;
    z-index: 1;
}
.hero{
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
}
.hero> :nth-child(1){
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.separation{
    height: 8px;
    background-color: rgb(61, 60, 60);
}

.btn{
    padding: 6px;
    color: white;
    background-color: rgba(248, 243, 243, 0.05);
    border-radius: 3px;
    cursor: pointer;
}
.signin{
    background-color: red;
    color: white;
}
.getst{
    background-color: red;
    color: white;
    padding: 4px 8px;
    font-size: 20px;
    border-radius: 7px;
}
div input{
    padding: 8px 70px 6px 40px;
    font-size: 14px;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
}
.hero_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* ---------------  */

.first{
    display: flex;
    justify-content: center;
    max-width: 60vw;
    margin: auto;
    color: white;
    align-items: center;
    padding: 35px;
}

.secimg{
    position: relative;
}
.secimg :nth-child(1){
    width: 60vh;
    position: relative;
    z-index: 1;
}
.secimg video{
    position: absolute;
    top: 9px;
    left: 15px;
    width: 55vh;
    height: 35vh;
}
.secimg :nth-child(3){
    width: 20vh;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 50px;
}
section.first > div{
    padding: 30px 0px;
}
.first > div :nth-child(1){
    display: flex;
    flex-direction: column;
    font-size: 48px;
    align-items: center;
    text-align: center;
}
.first > div :nth-child(2){
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.faq{
    background-color: black;
    color: white;
    padding: 30px;
}
.faq h2{
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faqbox:hover{
    background-color: gray;
}
.faqbox{
     display: flex;
     background-color: rgb(85, 84, 84);
     padding: 15px;
     color: white;
     max-width: 50vw;
     margin: 20px auto;
     justify-content: space-between;
     cursor: pointer;
     align-items: center;
}

footer{
    color: white;
    padding-bottom: 100px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 70vw;
    margin: auto;
}
@media screen and (max-width: 500px){
    .footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 70vw;
    margin: auto;
    gap: 30px;
    }
    .hero> :nth-child(1){
    font-size: 38px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    justify-content: space-between;
    height: 70px;
}
.hero_btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-items a{
    font-size: 14px;
    color: rgb(233, 227, 227);
}
footer .ques{
    margin: 10px;
    padding-left: 14vw;
}

@media screen and (max-width: 1200px){
    .first{
        flex-wrap: wrap;
    }
    .secimg{
    position: relative;
    padding: 30px 15px;
    }
    .secimg :nth-child(1){
    width: 200px;
    position: relative;
    z-index: 1;
}
.secimg video{
    position: absolute;
    width: 200px;
}
.secimg :nth-child(3){
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 50px;
}
}